/*Medias Queries*/

/*Menu*/
@media (max-width: 576px){
    .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

}

@media (max-width: 769px){

  .carrito::before {
    content: "";
    background: none;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
}

/*Medida para celulares y/o otros dispositivos*/
/*Small devices (landscape phones, 576px and up)*/

@media (max-width: 769px){
    .carousel-inner img {
        width: 100%;
        max-height: 100%;
      }
      
      .carousel-inner {
        height: 100%;
      } 
}

/*Medida para celulares y/o otros dispositivos*/
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .galeriaprod {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  }
  
@media (max-width: 769px) {
    .galeriaprod {
      display: flex;
      flex-direction: column;
      align-items: center; }
  }
  
  /*Medida para celulares y/o otros dispositivos*/
  /*Small devices (landscape phones, 576px and up)*/
  @media (max-width: 576px) {
    .mapa {
      width: 100%;
      display: flex;
    }
  }
  
  @media (max-width: 769px){
      .mapa{
          width: 100%;
          display: flex;
      }
  }



  /*Medida para celulares y/o otros dispositivos*/
  /*Small devices (landscape phones, 576px and up)*/
  @media (max-width: 576px) {

    .imgpreguntas {
      display: none;
    }
  }

  @media (max-width: 769px){
    .imgpreguntas{
        display: none;  
      }
  }

   /*Medida para celulares y/o otros dispositivos*/
  /*Small devices (landscape phones, 576px and up)*/
  @media (max-width: 576px) {
      .logofooter{
          width: 35%;
          display: flex;
      }
  }

  @media (max-width: 769px){
    .logofooter{
        width: 30%;
        display: flex;
    }
  }